In [12]:
import pandas as pd

# Before running the code below, use the following command on linux shell:
# cut -f1,2,3,4,6,8,9,15,16,29 -d, 2008.csv > 2008-cut.csv 

data = pd.read_csv('2003-cut.csv')

In [13]:
data.head()
#data

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,ArrDelay,DepDelay,LateAircraftDelay
0,2003,1,29,3,1655,1913,UA,-1.0,-4.0,NaN
1,2003,1,30,4,1655,1913,UA,-3.0,-1.0,NaN
2,2003,1,31,5,1655,1913,UA,23.0,29.0,NaN
3,2003,1,1,3,1035,1634,UA,-9.0,-2.0,NaN
4,2003,1,2,4,1035,1634,UA,52.0,18.0,NaN

In [14]:
# cut departure time in one hour intervals
labels=["{}:00".format(x) for x in range(24)]
data['depInterval'] = pd.cut(data['CRSDepTime'], 24, labels=labels)
          
# sum all flight delays
data['totalDelay'] = data['ArrDelay'].add(data['DepDelay'], fill_value=0).add(data['LateAircraftDelay'], fill_value=0)

In [ ]:
result = pd.DataFrame({'meanDelay' : data.groupby(['Year', 'Month', 'DayOfWeek', 'depInterval'])
                       .mean()['totalDelay']}).reset_index()

result.to_csv('2003-mean.csv')
#result